[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
django-cors-headers = "*"
djangorestframework = "*"
coreapi = "*"
Markdown = "*"
django-filter = "*"
django-crispy-forms = "*"
django-guardian = "*"

[requires]

python_version = "3.6"
