{% extends 'base.html' %}

{% block title %}Confirmacion de Contrasena{% endblock title %}

{% block content %}
    <div id"content-container" class="container p-none">
        <div class="side-P">
            <form id="user-pass-form" action="." method="post">
                {% csrf_token %}
                <h3>Confirme Nueva Contrasena</h3>
                <table class"table">
                     <tbody>
                          <tr>
                              <th>Contrasena</th>
                          </tr>
                          <tr>
                              <td>{{ form.password1 }}</td>
                              <td>{{ form.password2 }}</td>
                          </tr>
                          <tr>
                              <td>{{ form.password1.errors }}</td>
                              <td>{{ form.password2.errors }}</td>
                          </tr>
                     </tbody>
                </table>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        </div>
    </div>
{% endblock content %}
